# ======================
# Python
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# ======================
# Airflow
# ======================
airflow/logs/
airflow/__pycache__/
airflow/dags/__pycache__/

# ======================
# Docker
# ======================
postgres-db-volume/
airflow-logs/

# ======================
# OS / Editor
# ======================
.DS_Store
Thumbs.db
.vscode/
.idea/

